<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rock Paper Scissors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Time to play!</h1>
<p th:text="'You have player id ' + ${rpsMove.playerId}"/>

<h1>Choose your move:</h1>

<form action="#" th:action="@{/choseMove(playerId=${rpsMove.playerId},move='rock')}" method="post">
    <p><input type="submit" value="Rock!"/></p>
</form>

<form action="#" th:action="@{/choseMove(playerId=${rpsMove.playerId},move='paper')}" method="post">
    <p><input type="submit" value="Paper!"/></p>
</form>

<form action="#" th:action="@{/choseMove(playerId=${rpsMove.playerId},move='scissors')}" method="post">
    <p><input type="submit" value="Scissors!"/></p>
</form>

</body>
</html>