<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="rpsStyle.css">
    <title>Rock Paper Scissors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Rock paper scissors!</h1>
    <br>
    <h2>Select Player:</h2>

    <form action="#" th:action="@{/selectPlayer}" th:object="${selectPlayer}" method="post">
        <ul>
            <li th:each="player : ${players}">
                <input type="radio" th:field="*{playerId}" th:value="${player}"/>
                <label th:for="${player}" th:text="${player}"></label>
            </li>
        </ul>
        <p><input type="submit" value="3.. 2.. 1.. Go!"/></p>
    </form>
</div>
</body>
</html>