<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rock Paper Scissors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Which player are you?</h1>

<form action="#" th:action="@{/selectPlayer}" th:object="${selectPlayer}" method="post">
    <ul>
        <li th:each="player : ${players}">
            <input type="radio" th:field="*{playerId}" th:value="${player}" />
            <label th:for="${player}" th:text="${player}"></label>
        </li>
    </ul>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>